* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(67, 63, 58);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgb(54, 45, 45);
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
}

h1 {
    font-size: 2rem;
    font-family:inherit;
}

.user-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container {
    display: flex;
    justify-content: space-between;
}

#user-input {
    width: 80%;
    padding: 0.4rem;
    border-radius: 5px;
}

#search-btn {
    padding: 0.4rem;
    border-radius: 5px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid #299f5d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    font-weight: 700;
    background: conic-gradient(#299f5d var(--progress-degree, 0%),#283a2e 0%);
    flex-direction: column;
}

.circle span {
    position:relative;
    z-index: 2;
}

.progress{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.stats-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;
}

.card {
    background-color: rgb(251, 170, 72);
    width: 40%;
    padding: 20px;
    border-radius: 10px;
}